@import url(//fonts.googleapis.com/css?family=IM+Fell+English);

[data-md-color-scheme="slate"] {
  --md-default-bg-color: hsla(0, 0%, 7%, 1); /* Very dark gray (#121212) */
}

.md-header__topic:first-child {
  font-family: "IM Fell English";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
}

.md-typeset h1 {
    /* color: #fb8500; */
    font-family: "IM Fell English";
    font-style: normal;
}

.md-typeset h2 {
   /* color: #2e2e2e; */
   font-family: "IM Fell English";
 }
 
 .md-typeset h3 {
   /* color: #2e2e2e; */
   font-family: "IM Fell English";
 }


