  @import url(//fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC);

.md-typeset h1 {
    /* color: #fb8500; */
    font-family: "IM Fell Great Primer SC";
}

.md-typeset h2 {
  /* color: #2e2e2e; */
  font-family: "IM Fell Great Primer SC";
}

.md-typeset h3 {
  /* color: #2e2e2e; */
  font-family: "IM Fell Great Primer SC";
}

.md-typeset md-nav__item {
  /* color: #2e2e2e; */
  font-family: "IM Fell English SC";
}
